<form action="/submit" method="post">
  <label for="first">First name</label>
  <input type="text" name="first" placeholder="John">
  <br>
  <label for="last">Last name</label>
  <input type="text" name="last" placeholder="Doe">
  <br>
  <label for="job">Job</label>
  <input type="text" name="job" placeholder="Cashier">
  <br>
  <label for="company">Company</label>
  <input type="text" name="company" placeholder="McDonalds">
  <br>
  <label for="contact_type">Relation</label>
  <input type="text" name="contact_type" placeholder="Friend">
  <br>
  <button type="submit">Add contact</button>
</form>

<ul>
  <% @contacts.each do |contact| %>
    <li><%= contact %></li>
  <% end %>
</ul>
